*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0f172a;
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:30px;

}

.container{

width:100%;
max-width:900px;

}

.card{

background:#1e293b;

padding:40px;

border-radius:15px;

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

h1{

color:white;

text-align:center;

margin-bottom:10px;

}

.subtitle{

text-align:center;

color:#cbd5e1;

margin-bottom:30px;

}

.upload-area{

border:3px dashed #3b82f6;

padding:40px;

border-radius:15px;

text-align:center;

cursor:pointer;

}

.upload-area p{

color:white;

margin-top:10px;

}

#chooseBtn{

padding:12px 25px;

font-size:16px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

.preview-container{

margin-top:25px;

display:flex;

justify-content:center;

}

#preview{

display:none;

max-width:100%;

max-height:350px;

border-radius:10px;

}

.buttons{

display:flex;

justify-content:center;

gap:10px;

flex-wrap:wrap;

margin-top:30px;

}

.buttons button{

padding:12px 20px;

border:none;

cursor:pointer;

border-radius:8px;

background:#2563eb;

color:white;

}

.loader{

display:none;

margin:30px auto;

width:50px;

height:50px;

border-radius:50%;

border:5px solid #d1d5db;

border-top:5px solid #2563eb;

animation:spin 1s linear infinite;

}

@keyframes spin{

0%{

transform:rotate(0deg);

}

100%{

transform:rotate(360deg);

}

}

.caption-box{

margin-top:35px;

padding:25px;

background:#334155;

border-radius:10px;

}

.caption-box h2{

color:white;

margin-bottom:15px;

}

#caption{

color:white;

line-height:1.8;

font-size:18px;

}

@media(max-width:768px){

.buttons{

flex-direction:column;

}

.buttons button{

width:100%;

}

}